name: "Auto Unit Test CI"

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore dependencies
        run: dotnet restore Chatty.BE.sln

      - name: Build solution
        run: dotnet build Chatty.BE.sln --configuration Release --no-restore

      - name: Run unit tests
        run: |
          dotnet test Tests/Chatty.BE.Application.Test/Chatty.BE.Application.Test.csproj --configuration Release --no-build --collect:"XPlat Code Coverage"
          dotnet test Tests/Chatty.BE.Domain.Tests/Chatty.BE.Domain.Tests.csproj --configuration Release --no-build --collect:"XPlat Code Coverage"
          dotnet test Tests/Chatty.BE.Infrastructure.Tests/Chatty.BE.Infrastructure.Tests.csproj --configuration Release --no-build --collect:"XPlat Code Coverage"
